---
layout: base.layout.njk
collectionOptions:
    headingLevel: 3
permalink: /
---
{% from "collection.njk" import collection %}

{# vcard #}
<header>
    <div>
        Roel <span>(R.V.)</span> Antonisse – Deul
        <figure>
            <img src="" alt="">
            <figcaption>
                <p>Portret van een blanke man. Korte blonde haren, blauwe ogen met een bril dragend.</p>
            </figcaption>
        </figure>
    </div>

    <dl>
        <div>
            <dt>Geboortedatum</dt>
            <dd>06-06-1984</dd>
        </div>
        <div>
            <dt>Geboorteplaats</dt>
            <dd>Haarlem, Nederland</dd>
        </div>
        <div>
            <dt>Nationaliteit</dt>
            <dd>Nederlandse</dd>
        </div>
        <div>
            <dt>Woonplaats</dt>
            <dd>Utrecht, Nederland</dd>
        </div>
    </dl>
</header>

{# Introduction #}
{% if introduction %}
    <section>
        {% for page in introduction %}
            {{ page.templateContent | safe }}
        {% endfor %}
    </section>
{% endif %}

{% if roles %}
    <h2>Werkervaring</h2>
    {{ collection(roles, collectionOptions) }}
{% endif %}

{% if educations %}
    <h2>Opleidingen</h2>
    {{ collection(educations, collectionOptions)}}
{% endif %}

{% if projects %}
    <h2>Projecten</h2>
    {{ collection(projects, collectionOptions)}}
{% endif %}